$c-marino: #270089;
$c-verde: #6AFF7F;
$c-rosa: #DF1683;
$c-azul: #3CB4E5;
$c-morado: #6D3DE7;
$c-amarillo: #FFCD00;

$c-gris: #D9D9D9;
$c-carbon: #292929;

$c-blanco: #fff;
$c-negro: #000;

$f-principal: 'Visby';
$f-texto: 'Nunito Sans';