.c-marino {
    color: $c-marino;
}
.c-verde {
    color: $c-verde;
}
.c-rosa {
    color: $c-rosa;
}
.c-azul {
    color: $c-azul;
}
.c-morado {
    color: $c-morado;
}
.c-amarillo {
    color: $c-amarillo;
}
.c-gris {
    color: $c-gris;
}
.c-carbon {
    color: $c-carbon;
}
.c-blanco {
    color: $c-blanco;
}
.c-negro {
    color: $c-negro;
}

.bg-marino {
    background-color: $c-marino;
}
.bg-verde {
    background-color: $c-verde;
}
.bg-rosa {
    background-color: $c-rosa;
}
.bg-azul {
    background-color: $c-azul;
}
.bg-morado {
    background-color: $c-morado;
}
.bg-amarillo {
    background-color: $c-amarillo;
}
.bg-gris {
    background-color: $c-gris;
}
.bg-carbon {
    background-color: $c-carbon;
}
.bg-blanco {
    background-color: $c-blanco;
}
.c-negro {
    color: $c-negro;
}