#inicio {
    position: relative;
    height: 100vh;
    overflow: hidden;

    .bgGrafico {
        position: absolute;
        top: 0;
        overflow: hidden;
        width: 100%;
        height: 100%;
        z-index: 2;

        background-image: url('/src/assets/img/bgFiguras.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .imgWrapper {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #6aff7f;
        display: flex;
        justify-content: flex-start;
        align-items: start;
        width: 100%;
        height: 100%;
        overflow:  hidden;
        z-index: -10;

        &::before {
            background-color:#00007e;
            bottom: 0;
            content: '';
            height: 100%;
            left: 0;
            mix-blend-mode: lighten;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            z-index: 1;
        }

        img {
            filter: grayscale(100%) contrast(1) blur(0px);
            flex: 1 0 100%;
            height: 100%;
            max-width: 100%;
            mix-blend-mode: multiply;
            object-fit: cover;
            object-position: 85% 50%;
            opacity: 1;
            position: relative;
            width: 100%;
        }
    }

    .tituloImg {
        margin-top: 400px;
        @media (max-width: 575.98px) {
            margin-top: 30%;
        }

    }

    .bRightDivider {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: auto;
        z-index: 150;
    }
}